:root {
    --padding: 1.5vw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.seccionArriba {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.barraMenu,
.barraEstatus {
    width: 100vw;
    height: 5vh;
    background-color: red;
}

.barraHerramientas {
    background-color: blue;
    width: 100vw;
    height: 10vh;
}

.lienzo {
    background-color: gray;
    width: 100vw;
    height: 80vh;
    position: relative;
}

.seccionIzquierda {
    width: fit-content;
    height: 55vh;
    background-color: darkblue;
    position: absolute;
    bottom: 0;
    left: var(--padding);
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
}

.configuracionLapizFondo {
    height: 100%;
    width: fit-content;
    display: flex;
    gap: calc(var(--padding) / 2);
}

.seccionDerecha {
    height: calc(80vh - var(--padding));
    background-color: lightblue;
    right: var(-);
    height: calc(100% - var(--padding));
    width: 40vh;
    position: absolute;
    right: calc(var(--padding) / 2);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 10;
    padding: 1vh;
    gap: 1vh;
    justify-content: space-between;
}

#canvasPrincipal {
    height: 360px;
    width: 640px;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
}

#agregarCapas {
    width: 100%;
    height: 8%
}

#listaCapas {
    background-color: red;
    height: 82%;
    width: 95%;
    position: absolute;
    top: 8%;
    right: 50%;
    transform: translateX(58.3%);
    display: flex;
    flex-direction: column;
    gap: 2vh;
    overflow-y: scroll;
    padding-right: 10%;
}

.configurarCapas {
    width: 100%;
    height: 10%;
    background-color: aquamarine;
    position: absolute;
    bottom: 0;
}

.barraHerramientas {
    display: flex;
    gap: 6vh;
    justify-content: center;
    align-items: center;
}

select {
    height: 70%;
    width: 15vw;
}

.color {
    background-color: lightcyan;
}

.rango {
    background-color: darkviolet;
    width: 7.2vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4vh;
}

.rango input {
    transform: rotateZ(-90deg) translateY(-16.5vh);
    width: 40vh;
}

.representacionCapas {
    width: 100%;
    height: 62.8vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 1vh;
}

.editar-capa,
.botones-agregar-capas {
    width: 100%;
    height: 5vh;
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
    gap: 0.25vh;
}

.editar-capa>button,
.botones-agregar-capas>button {
    font-size: 2vh;
    height: 100%;
    width: 100%;
}

.botones-agregar-capas>button {
    width: 50%;
}

.representacionCapa {
    width: 100%;
    min-height: 15vh;
    background-color: goldenrod;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    gap: 1vh;
    justify-content: space-between;
}



.representacionCapa input {
    display: none;
}

.portada {
    max-height: 15vh;
    max-width: 26vh;
    display: flex;
    gap: 1vh;
    justify-content: space-between;
}

.representacionCapa .portada .plegado {
    border: 1px solid black;
    max-height: 15vh;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.representacionCapa .portada .infoPlegado {
    border: 1px solid black;
    max-height: 15vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.representacionCapa .portada .plegado p {
    width: 2vh;
    height: 2vh;
    font-weight: 700;
    font-size: 3vh;
}

.representacionCapa input[type="checkbox"]:checked~.portada .plegado p {
    transform: rotateZ(90deg);
}

.representacionCapa input[type="checkbox"]:not(:checked) ~ .contenido{
    display: none;
}

.representacionCapa input[type="checkbox"]:checked ~ .contenido{
    display: flex;
}

.infoPlegado canvas {
    background-color: white;
    height: 11vh;
    width: 20vh;
}

.infoPlegado p { 
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid;
    font-size: 2vh;
}

.representacionCapa .contenido {
    height: fit-content;
    width: 95%;
    background-color: chocolate;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.capaIndividual{
    background-color:rgb(218, 60, 32) ;
}

.activo{
    background-color: lightgreen;
}